@using Shared.Enumerations
@inject IHttpContextAccessor hca
@model Shared.ViewModels.OperationalExcellenceVM


@{
    ViewData["Title"] = "CI Tracker";
    ViewData["Base"] = "InitiativeManagement";
    ViewData["Active"] = "OEProjectDetail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!--APP-CONTENT START-->
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Page Header -->
        @if (Model.Projects.SingleResult != null)
        {
            <div class="d-md-flex d-block align-items-center justify-content-between page-header-breadcrumb">
                <div>
                    <h2 class="main-content-title fs-24 mb-1">Project Details</h2>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Operational Excellence</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Projects.SingleResult.Title</li>
                    </ol>
                </div>
            </div>
            <!-- Page Header Close -->
            <!-- Page Header Close -->
            <div id="project_info" class="row row-sm">
                <div class="accordion accordion-primary mb-5" id="projectDetail">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="projectHeader">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-controls="collapseFilter"> PROJECT DETAILS </button>
                        </h2>
                        <div id="collapseFilter" class="accordion-collapse collapse" aria-labelledby="projectHeader" data-bs-parent="#projectDetail">
                            <div class="accordion-body">
                                <div class="col-xl-12">
                                    <div class="card custom-card">
                                        <div class="card-header justify-content-between">
                                            <div class="card-title"> Project Details </div>
                                        </div>
                                        @using (Html.BeginForm("UpdateOEProject", "Main", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="card-body">
                                                @{
                                                    var isAdminOrFacilitator = hca?.HttpContext?.Session?.GetString("UserRole") == "Admin" || Model.Projects.SingleResult.FacilitatorId == Convert.ToInt64(hca?.HttpContext?.Session?.GetString("UserId"));
                                                }
                                                @if (Model.Message.Length > 5)
                                                {
                                                    if (Model.Message.ToLower().Contains("success"))
                                                    {
                                                        <div class="alert alert-success" role="alert">
                                                            @Model.Message
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="alert alert-danger" role="alert">
                                                            @Model.Message
                                                        </div>
                                                    }
                                                }
                                                <div class="row gy-4">
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                        <p class="mb-2 fw-medium">
                                                            Title <span style="color:red">*</span>
                                                            <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-primary" class="text-primary" data-bs-original-title="A good title should be short and contain searchable words"> <i class="fe fe-info"></i></a>
                                                        </p>
                                                        <input type="text" class="form-control" name="title" placeholder="Project Title" value="@Model.Projects.SingleResult.Title" @(isAdminOrFacilitator == true ? "" : "readonly") required>
                                                        <input type="text" class="form-control" name="id" value="@Model.Projects.SingleResult.Id" hidden required>
                                                    </div>

                                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                                                        <label for="startdate" class="form-label">Start Date<span style="color:red">*</span></label>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                                                <input type="text" class="form-control flatpickr-input active" name="startdate" id="startdate" placeholder="Start Date" readonly="readonly" value="@(Model.Projects.SingleResult.StartDate.ToString("yyyy-MM-dd"))" @(isAdminOrFacilitator == true ? "" : "readonly") required>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                                                        <label for="enddate" class="form-label">End Date<span style="color:red">*</span></label>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                                                <input type="text" class="form-control flatpickr-input active" name="enddate" id="enddate" placeholder="End Date" readonly="readonly" value="@(Model.Projects.SingleResult.EndDate.ToString("yyyy-MM-dd"))" @(isAdminOrFacilitator == true ? "" : "readonly") required>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                                                        <label for="priority" class="form-label">Priority<span style="color:red">*</span></label>
                                                        <select class="form-control" name="priority" id="priority" @(isAdminOrFacilitator == true ? "" : "readonly") required>
                                                            <option value="High" @(Model.Projects.SingleResult.Priority == "High" ? "selected" : "")>High</option>
                                                            <option value="Medium" @(Model.Projects.SingleResult.Priority == "Medium" ? "selected" : "")>Medium</option>
                                                            <option value="Low" @(Model.Projects.SingleResult.Priority == "Low" ? "selected" : "")>Low</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                        <label for="description" class="form-label">
                                                            Description <span style="color:red">*</span>
                                                            <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-primary" class="text-primary" data-bs-original-title="A good problem statement should contain - what, where, when and impact to the business."> <i class="fe fe-info"></i></a>
                                                        </label>
                                                        <textarea class="form-control" name="description" id="description" rows="3" @(isAdminOrFacilitator == true ? "" : "readonly") required>@Model.Projects.SingleResult.Description</textarea>
                                                    </div>

                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                                        <label for="facilitator" class="form-label">Facilitator<span style="color:red">*</span></label>
                                                        <select class="js-choice" name="facilitator" id="facilitator" @(isAdminOrFacilitator == true ? "" : "readonly") required>
                                                        </select>
                                                    </div>

                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                                        <label for="sponsor" class="form-label">Sponsor<span style="color:red">*</span></label>
                                                        <select class="js-choice" name="sponsor" id="sponsor" @(isAdminOrFacilitator == true ? "" : "readonly") required>
                                                        </select>
                                                    </div>

                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                                        <label for="execsponsor" class="form-label">Executive Sponsor<span style="color:red">*</span></label>
                                                        <select class="js-choice" name="execsponsor" id="execsponsor" @(isAdminOrFacilitator == true ? "" : "readonly") required>
                                                        </select>
                                                    </div>

                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                                        <label for="status" class="form-label">Status<span style="color:red">*</span></label>
                                                        <select class="form-control" name="status" id="status" @(isAdminOrFacilitator == true ? "" : "readonly") required>
                                                            @{
                                                                var currentStatus = Model.Projects.SingleResult.Status;
                                                                var isAdmin = hca?.HttpContext?.Session?.GetString("UserRole") == "Admin";
                                                            }

                                                            @foreach (Status item in Enum.GetValues(typeof(Status)))
                                                            {
                                                                if (item == Status.CLOSED && !isAdmin)
                                                                {
                                                                    continue;
                                                                }

                                                                <option value="@item" selected="@(currentStatus == item.ToString())">
                                                                    @item
                                                                </option>
                                                            }
                                                        </select>
                                                    </div>

                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                                        <label for="carryover" class="form-label">Carry Over Project?<span style="color:red">*</span></label>
                                                        <select class="form-control" name="carryover" id="carryover" @(isAdminOrFacilitator == true ? "" : "readonly") required>
                                                            <option value="Yes" @(Model.Projects.SingleResult.CarryOverProject == "Yes" ? "selected" : "")>Yes</option>
                                                            <option value="No" @(Model.Projects.SingleResult.CarryOverProject == "No" ? "selected" : "")>No</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                                        <label for="savingsclassification" class="form-label">Savings Classification<span style="color:red">*</span></label>
                                                        <select class="form-control" name="savingsclassification" id="savingsclassification" @(isAdminOrFacilitator == true ? "" : "readonly") required>
                                                            <option value="Cost Out" @(Model.Projects.SingleResult.SavingsClassification == "Cost Out" ? "selected" : "")>Cost Out</option>
                                                            <option value="Cost Savings" @(Model.Projects.SingleResult.SavingsClassification == "Cost Savings" ? "selected" : "")>Cost Savings</option>
                                                            <option value="Revenue" @(Model.Projects.SingleResult.SavingsClassification == "Revenue" ? "selected" : "")>Revenue</option>
                                                            <option value="Cost Avoidance" @(Model.Projects.SingleResult.SavingsClassification == "Cost Avoidance" ? "selected" : "")>Cost Avoidance</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                                        <label for="targetsavings" class="form-label">Target Savings<span style="color:red">*</span></label>
                                                        <div class="input-group">
                                                            <input type="text" name="targetsavings" id="targetsavings" class="form-control" placeholder="Enter saving amount" value="@Model.Projects.SingleResult.TargetSavings.ToString("N2")" oninput="formatNumberRealTime(this)" onpaste="return false" inputmode="decimal" @(isAdminOrFacilitator == true ? "" : "readonly") required>
                                                            <button id="currencyBtn" class="btn btn-outline-primary dropdown-toggle show" type="button" data-bs-toggle="dropdown" aria-expanded="true">@Model.Projects.SingleResult.Currency</button>
                                                            <ul class="dropdown-menu dropdown-menu-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 41px); min-width:auto;" data-popper-placement="bottom-end">
                                                                @if (isAdminOrFacilitator)
                                                                {                                                                    
                                                                    <li><a class="dropdown-item" data-value="₦" href="#">&#8358;</a></li>
                                                                    <li><a class="dropdown-item" data-value="€" href="#">&#8364;</a></li>
                                                                    <li><a class="dropdown-item" data-value="£" href="#">&#163;</a></li>
                                                                    <li><a class="dropdown-item" data-value="$" href="#">&#36;</a></li>
                                                                    <li><a class="dropdown-item" data-value="¥" href="#">&#165;</a></li>
                                                                }
                                                            </ul>
                                                        </div>
                                                        <input type="hidden" name="currency" id="selectedCurrency" value="@Model.Projects.SingleResult.Currency">
                                                    </div>

                                                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                                                        <label for="input-text" class="form-label">Actual Savings</label>
                                                        <div class="input-group mb-3">
                                                            <input type="text" name="actualsavings" class="form-control" value="@Model.Projects.SingleResult.ActualSavings.ToString("N2")" @(isAdminOrFacilitator == true ? "" : "readonly") oninput="formatNumberRealTime(this)" onkeyup="formatNumberRealTime(this)" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 8 || event.charCode == 0 || event.charCode == 13" oninput="this.value = this.value.replace(/[^0-9]/g, '')" onpaste="return false" readonly>
                                                            <button class="btn btn-outline-primary" type="button">@Model.Projects.SingleResult.Currency</button>
                                                        </div>
                                                    </div>

                                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                                        <label for="country" class="form-label">Country<span style="color:red">*</span></label>
                                                        <select class="form-control" name="country" id="country" onchange="onCountryChange(this, 'facility')" @(isAdminOrFacilitator == true ? "" : "readonly") required>
                                                            @if (Model.OrganizationCountry != null)
                                                            {
                                                                if (Model.OrganizationCountry.Any())
                                                                {
                                                                    foreach (var country in Model.OrganizationCountry)
                                                                    {
                                                                        if (Model.Projects.SingleResult.OrganizationCountryId == country.Id)
                                                                        {
                                                                            <option value="@country.Id" selected>@country.Country</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@country.Id">@country.Country</option>
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        </select>
                                                    </div>

                                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                                        <label for="facility" class="form-label">Location/Facility</label>
                                                        <select class="form-control" name="facility" id="facility" onchange="onFacilityChange(this, 'department')" @(isAdminOrFacilitator == true ? "" : "readonly") required>
                                                        </select>
                                                    </div>

                                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                                        <label for="department" class="form-label">
                                                            Department<span style="color:red">*</span>
                                                            <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-primary" class="text-primary" data-bs-original-title="Select functional groups that owns the project being improved"> <i class="fe fe-info"></i></a>
                                                        </label>
                                                        <select class="form-control" name="department" id="department" @(isAdminOrFacilitator == true ? "" : "readonly") required>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer border-top-card">
                                                <button @(isAdminOrFacilitator == true ? "type=submit" : "type=button") class="btn btn-success shadow-success">Submit</button>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-sm">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header justify-content-between">
                            <div class="card-title">Register Monthly Savings</div>
                        </div>
                        @using (Html.BeginForm("AddOEProjectMonthlySavings", "Main", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="card-body">
                                <div class="row gy-4">

                                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                                        <label for="input-text" class="form-label">Choose Month of Year<span style="color:red">*</span></label>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                                                <input type="text" class="form-control flatpickr-input active" id="monthyear" name="monthyear" placeholder="Month & Year" readonly="readonly" required>
                                                <input type="text" class="form-control" name="edid" value="@Model.Projects.SingleResult.Id" hidden required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                        <label for="savings" class="form-label">Savings<span style="color:red">*</span></label>
                                        <div class="input-group">
                                            <input type="text" name="savings" id="savings" class="form-control" placeholder="Enter saving Amount" oninput="formatNumberRealTime(this)" onkeyup="formatNumberRealTime(this)" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 8 || event.charCode == 0 || event.charCode == 13" oninput="this.value = this.value.replace(/[^0-9]/g, '')" onpaste="return false" required>
                                            <button class="btn btn-outline-primary dropdown-toggle show" type="button" data-bs-toggle="dropdown" aria-expanded="true">&#36;</button>
                                            <ul class="dropdown-menu dropdown-menu-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 41px);" data-popper-placement="bottom-end">
                                                <li><a class="dropdown-item currency-item" data-value="₦" href="#">&#8358;</a></li>
                                                <li><a class="dropdown-item currency-item" data-value="€" href="#">&#8364;</a></li>
                                                <li><a class="dropdown-item currency-item" data-value="£" href="#">&#163;</a></li>
                                                <li><a class="dropdown-item currency-item" data-value="$" href="#">&#36;</a></li>
                                                <li><a class="dropdown-item currency-item" data-value="¥" href="#">&#165;</a></li>
                                            </ul>
                                        </div>
                                        <input type="hidden" name="currency" id="selectedCurrency" value="&#36;">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer border-top-card">
                                <button type="submit" class="btn btn-success shadow-success">Submit</button>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card custom-card mg-b-20 tasks">
                        <div class="card-body">
                            <div class="card-header border-bottom-0 pt-0 ps-0 pe-0 pb-2 d-flex">
                                <div>
                                    <div class="card-title"> Monthly Savings </div>
                                    <p class="mb-0 fs-12 mb-3 text-muted">All Monthly Savings.</p>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div id="datatable-basic_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="myOEMonthlySavings" class="table table-bordered text-nowrap dataTable no-footer" style="width: 100%;" aria-describedby="datatable-basic_info">
                                                <thead>
                                                    <tr>
                                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="datatable-basic" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Month & Year: activate to sort column descending" style="width: 121.992px;">Month & Year</th>
                                                        <th class="sorting" tabindex="0" aria-controls="datatable-basic" rowspan="1" colspan="1" aria-label="Savings: activate to sort column ascending" style="width: 82.992px;">Savings</th>
                                                        <th class="sorting" tabindex="0" aria-controls="datatable-basic" rowspan="1" colspan="1" aria-label="Date Created: activate to sort column ascending" style="width: 82.992px;">Date Created</th>
                                                        <th class="sorting" tabindex="0" aria-controls="datatable-basic" rowspan="1" colspan="1" aria-label="Created By: activate to sort column ascending" style="width: 82.992px;">Created By</th>
                                                        <th class="sorting" tabindex="0" aria-controls="datatable-basic" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 68.992px;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if(Model.MonthlySavings != null){
                                                        if (Model.MonthlySavings.Any())
                                                        {
                                                            foreach (var i in Model.MonthlySavings)
                                                            {
                                                                <tr class="@(i.Id / 2 != 0 ? "odd" : "even")" data-id="@i.Id">
                                                                    <td>@i.MonthYear</td>
                                                                    <td>@i.Currency@String.Format("{0:N}", i.Savings)</td>
                                                                    <td>@String.Format("{0:dd MMMM, yyy}", Convert.ToDateTime(i.DateCreated))</td>
                                                                    <td>@i.CreatedByUser</td>
                                                                    <td>
                                                                        <a class="align-content-start ms-2 me-2" href="@Url.Action("OEMonthlySavingDetail", "Main", new { id = i.Id })"><i class="fe fe-edit"></i></a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- col end -->
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12"> 
                    <div class="card bg-white border-0"> 
                        <div class="alert custom-alert1 alert-danget"> 
                            <div class="text-center px-5 pb-0"> 
                                <svg class="custom-alert-icon svg-warning" xmlns="http://www.w3.org/2000/svg" height="1.5rem" viewBox="0 0 24 24" width="1.5rem" fill="#000000"><path d="M0 0h24v24H0z" fill="none"></path><path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"></path></svg> 
                                <h5>Data Retrieval Error</h5> 
                                <p class="">Could not successfully fetch data.</p>
                            </div> 
                        </div> 
                    </div> 
                </div>
            </div>
        }
    </div>
</div>
<script>

    const facilities = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.OrganizationFacility));
    const departments = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.OrganizationDepartment));
    const users = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.OrganizationUser));
    const preSelectedFacilityId = @(Model.Projects.SingleResult.OrganizationFacilityId);
    const preSelectedDepartmentId = @(Model.Projects.SingleResult.OrganizationDepartmentId);


    document.addEventListener("DOMContentLoaded", function () {
        let endPicker;

        var table = $('#myOEMonthlySavings').DataTable({
                        language: {
                            emptyTable: "No record found"
                        }
                    });

        endPicker = flatpickr("#enddate", {
            dateFormat: "Y-m-d"
        });

        const startPicker = flatpickr("#startdate", {
            dateFormat: "Y-m-d",
            onChange: function (selectedDates) {
                if (selectedDates.length) {
                    const startDate = selectedDates[0];

                    // Set min date for end date
                    endPicker.set("minDate", startDate);

                    // Optional: auto-set end date to +12 months
                    const endDate = new Date(startDate);
                    endDate.setFullYear(endDate.getFullYear() + 1);
                    endPicker.setDate(endDate, true);
                }
            }
        });

        flatpickr("#monthyear", {
            dateFormat: "F Y", 
            altInput: true,
            altFormat: "F Y",
            plugins: [
                new monthSelectPlugin({
                    shorthand: false,   // Jan vs January
                    dateFormat: "F Y",
                    altFormat: "F Y"
                })
            ]
        });
    });

    document.querySelectorAll('.currency-item').forEach(item => {
        item.addEventListener('click', function (e) {
            e.preventDefault();

            const currency = this.textContent.trim();

            // Update button display
            const button = this.closest('.input-group').querySelector('button');
            button.innerHTML = currency;

            // Store value for form submission
            document.getElementById('selectedCurrency').value = currency;
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const countrySelect = document.getElementById('country');

        if (countrySelect && countrySelect.value) {
            onCountryChange(countrySelect, 'facility');
        }
        
        const facilitySelect = document.getElementById('facility');

        if (facilitySelect && facilitySelect.value) {
            onFacilityChange(facilitySelect, 'department');
        }
    });

    function onCountryChange(selectEl, targetInputId) {
        const countryId = parseInt(selectEl.value);
        const locationSelect = document.getElementById(targetInputId);

        locationSelect.innerHTML ='';

        if (isNaN(countryId)) return;

        const filtered = facilities.filter(l => l.OrganizationCountryId === countryId);

        filtered.forEach(item => {
            const option = document.createElement('option');
            option.value = item.Id;
            option.textContent = item.Facility;
            if (item.Id == preSelectedFacilityId){
                option.selected = true;
            }
            locationSelect.appendChild(option);
        });
    }

    function onFacilityChange(selectEl, targetInputId) {
        const facilityId = parseInt(selectEl.value);
        const locationSelect = document.getElementById(targetInputId);

        locationSelect.innerHTML ='';

        if (isNaN(facilityId)) return;

        const filtered = departments.filter(l => l.OrganizationFacilityId === facilityId);

        filtered.forEach(item => {
            const option = document.createElement('option');
            option.value = item.Id;
            option.textContent = item.Department;
            if (item.Id == preSelectedDepartmentId){
                option.selected = true;
            }
            locationSelect.appendChild(option);
        });
    }

    window.addEventListener('DOMContentLoaded', () => {
        const input = document.getElementById('targetsavings');
        if (input && input.value) {
            formatNumberRealTime(input);
        }
    });

    function formatNumberRealTime(input) {
        let cursorPos = input.selectionStart;
        let formattedValue = input.value;
        let numbersOnly = formattedValue.replace(/[^\d.]/g, '');

        let parts = numbersOnly.split('.');
        if (parts.length > 2) {
            numbersOnly = parts[0] + '.' + parts.slice(1).join('');
        }

        if (parts[0].length > 0) {
            parts[0] = parseInt(parts[0] || '0', 10).toLocaleString('en-US');
        }

        formattedValue = parts.join('.');
        input.value = formattedValue;

        let newCursorPos = cursorPos + (formattedValue.length - input.value.length);
        input.setSelectionRange(newCursorPos, newCursorPos);
    }


    const selectedFacilitatorId = @(Model.Projects.SingleResult.FacilitatorId > 0 ? Model.Projects.SingleResult.FacilitatorId.ToString() : null);
    const selectedSponsorId = @(Model.Projects.SingleResult.SponsorId > 0 ? Model.Projects.SingleResult.SponsorId.ToString() : null);
    const selectedExecSponsorId = @(Model.Projects.SingleResult.ExecutiveSponsorId > 0 ? Model.Projects.SingleResult.ExecutiveSponsorId.ToString() : null);


    var facChoice = new Choices('#facilitator', {
            removeItemButton: true,
            searchEnabled: true,
            shouldSort: false,
            placeholderValue: 'Type user...'
        });

    var sponChoice = new Choices('#sponsor', {
            removeItemButton: true,
            searchEnabled: true,
            shouldSort: false,
            placeholderValue: 'Type user...'
        });

    var execspnChoice = new Choices('#execsponsor', {
            removeItemButton: true,
            searchEnabled: true,
            shouldSort: false,
            placeholderValue: 'Type user...'
        });



    if (selectedFacilitatorId !== null) {
        const preSelected = users.find(
            u => u.Id === Number(selectedFacilitatorId)
        );

        if (preSelected) {
            facChoice.setChoices(
                [{
                    value: preSelected.Id,
                    label: preSelected.Name,
                    selected: true
                }],
                'value',
                'label',
                false
            );
        }
    }

    if (selectedSponsorId !== null) {
        const preSelected = users.find(
            u => u.Id === Number(selectedSponsorId)
        );

        if (preSelected) {
            sponChoice.setChoices(
                [{
                    value: preSelected.Id,
                    label: preSelected.Name,
                    selected: true
                }],
                'value',
                'label',
                false
            );
        }
    }

    if (selectedExecSponsorId !== null) {
        const preSelected = users.find(
            u => u.Id === Number(selectedExecSponsorId)
        );

        if (preSelected) {
            execspnChoice.setChoices(
                [{
                    value: preSelected.Id,
                    label: preSelected.Name,
                    selected: true
                }],
                'value',
                'label',
                false
            );
        }
    }

    const facilitatorEl = document.getElementById('facilitator');
    const sponsorEl = document.getElementById('sponsor');
    const execsponsorEl = document.getElementById('execsponsor');


    facilitatorEl.addEventListener('search', function (event) {
        const searchTerm = event.detail.value.toLowerCase();
        // Filter items by Name
        const filtered = users.filter(i =>
            i.Name.toLowerCase().includes(searchTerm)
        );

        // Replace choices
        facChoice.clearChoices();
        facChoice.setChoices(
            filtered.map(i => ({
                value: i.Id,
                label: i.Name
            })),
            'value',
            'label',
            true
        );
    });


    sponsorEl.addEventListener('search', function (event) {
        const searchTerm = event.detail.value.toLowerCase();
        // Filter items by Name
        const filtered = users.filter(i =>
            i.Name.toLowerCase().includes(searchTerm)
        );

        // Replace choices
        sponChoice.clearChoices();
        sponChoice.setChoices(
            filtered.map(i => ({
                value: i.Id,
                label: i.Name
            })),
            'value',
            'label',
            true
        );
    });


    execsponsorEl.addEventListener('search', function (event) {
        const searchTerm = event.detail.value.toLowerCase();
        // Filter items by Name
        const filtered = users.filter(i =>
            i.Name.toLowerCase().includes(searchTerm)
        );

        // Replace choices
        execspnChoice.clearChoices();
        execspnChoice.setChoices(
            filtered.map(i => ({
                value: i.Id,
                label: i.Name
            })),
            'value',
            'label',
            true
        );
    });

    if (selectedFacilitatorId !== null) {
        facChoice.setChoiceByValue(selectedFacilitatorId.toString());
    }

    if (selectedSponsorId !== null) {
        sponChoice.setChoiceByValue(selectedSponsorId.toString());
    }

    if (selectedExecSponsorId !== null) {
        execspnChoice.setChoiceByValue(selectedExecSponsorId.toString());
    }



    const selectedCurrency = '@Model.Projects.SingleResult.Currency';
    document.addEventListener('DOMContentLoaded', function () {
        const currencyBtn = document.getElementById('currencyBtn');
        const currencyInput = document.getElementById('selectedCurrency');
        const items = document.querySelectorAll('.dropdown-item');

        // Set default from model
        if (selectedCurrency) {
            currencyBtn.innerHTML = selectedCurrency;
            currencyInput.value = selectedCurrency;
        }

        // Handle selection change
        items.forEach(item => {
            item.addEventListener('click', function (e) {
                e.preventDefault();

                const value = this.getAttribute('data-value');
                currencyBtn.innerHTML = value;
                currencyInput.value = value;
            });
        });
    });


</script>